@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url(./fonts/static/OpenSans/OpenSans-Regular.ttf) format('truetype');
}

* {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #2c3e50;
}

:root,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    background: #ecf0f1;
}
